:root {
    --netflix: #e50914;
    --body: #ffff;
    --dark: #757575;
    --border-radius: 2px;
    --shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    color: #ffffff;
}
h3{
    font-weight: lighter;
}
a{
    color: #ffffff;
    text-decoration: none;
}
p{
    margin: 0.5rem 0;
    font-weight: bold;
    color: #ffffff;
}
img{
    width: 100%;
    height: auto;
}
body{
	color: var(--body); 
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
header{
	margin: 0 56px;
	padding-top: 20px;
}
.img-logo{
	width: 134px;
	height: auto;
	z-index: 2;
}
.btn-sign{
	color: var(--body); 
	background-color: var(--netflix);
	border-radius: var(--border-radius);
	font-weight: 400;
}
.btn-lang{
	background: #000;
	color: var(--body);
	border-color: var(--body);
}
.btn:hover{
    opacity: 0.9;
    color: var(--body);
}
.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/bg.jpg) no-repeat center center/cover;
}
.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 120px 100px 250px #000000 , inset -120px -100px 250px #000000;
}
.showcase-content{
	position: relative; 
	z-index: 2;
}
@media screen and (max-width: 1440px){
	.img-logo{
		width: 134px;
	    height: 36x;
	}
}
@media screen and (max-width: 1024px){
	.img-logo{
	}
}
@media screen and (max-width: 768px){
	.img-logo{
		width: 108px;
	    height: 32px;
	}
}
@media screen and (max-width: 425px){
	.img-logo{
		width: 88px;
	    height: 24px;
	}
}
@media screen and (max-width: 375px){
	.btn-secondary{
		height: 25px;
		font-size: 0.68rem;
		padding: 0  8px;
	}
	.btn-sign{
		font-size: 0.68rem;
		padding: 5px 5px;
	}
	.img-logo{
	}
}
@media screen and (max-width: 320px){
	.img-logo{
	}
	.row{
		--bs-gutter-x: 1rem;
	}

}