:root {
    --netflix: #e50914;
    --body: #ffff;
    --dark: #757575;
    --border-radius: 2px;
    --shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    color: #ffffff;
}
h3{
    font-weight: lighter;
}
a{
    color: #ffffff;
    text-decoration: none;
}
p{
    margin: 0.5rem 0;
    font-weight: bold;
    color: #ffffff;
}
img{
    width: 100%;
    height: auto;
}
body{
	color: var(--body); 
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
header{
	margin: 0 56px;
	padding-top: 20px;
}
.img-logo{
	width: 134px;
	height: auto;
	z-index: 2;
}
.btn-sign{
	color: var(--body); 
	background-color: var(--netflix);
	border-radius: var(--border-radius);
	font-weight: 400;
}
.btn-lang{
	background: #000;
	color: var(--body);
	border-color: var(--body);
}
.btn:hover{
    opacity: 0.9;
    color: var(--body);
}
.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/bg.jpg) no-repeat center center/cover;
}
.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 120px 100px 250px #000000 , inset -120px -100px 250px #000000;
}
.showcase-content{
	position: relative; 
	z-index: 2;
}
.mt-n1{
	margin: 150px auto;
}
.showcase-title{
	font-weight: 700;
	font-size: 4rem;
}
.showcase-subtitle{
	font-size: 1.625rem;
	margin: 16px 19px;
}
.email-form-title{
	font-size: 1.2rem;
	margin: 19px 0;
	font-weight: 400;
	padding: 0 10%;
}
.form-control{
	padding: 10px;
	min-width: 450px;
	min-height: 60px;
}
.btn-get-started{
	height: 60px;
	background-color: var(--netflix);
	font-size: 30px;
	color: var(--body);
	align-items: center;
	padding: 8px 8px 8px 26px; 
}
.arrow-btn{
	position: relative;
	top: -3px;
    left: 0;
	height: 45px;
	width: 45px;
}
@media screen and (max-width: 1440px){
	.img-logo{
		width: 134px;
	    height: 36x;
	}
}
@media screen and (max-width: 1024px){
}
@media screen and (max-width: 768px){
	.img-logo{
		width: 108px;
	    height: 32px;
	}
	.showcase-title{
		font-size: 3rem;
	}
	.btn-get-started{
		height: 32px;
		font-size: 14px;
		padding: 8px 6px 28px 6px;
		padding: 0px 6px;
		margin-top: 10px; 
	}
	.email-form-title{
		margin-bottom: 25px;
	}
	.input-group{
		display: inline-block;
	}
	.input-group>.form-control, .input-group>.form-select{
		width: 100%;
		border-radius: 0;
	}
	.form-control{
		margin-bottom: 10px;
	}
	.arrow-btn{
		height: 20px;
		width: 25px;
		top: -1px;
	}
	.btn-get-started{
		border-radius: 0;
	}
}
@media screen and (max-width: 425px){
	.img-logo{
		width: 88px;
	    height: 24px;
	}
	.showcase-title{
		font-weight: 700;
		font-size: 1.75rem;
	}
	.showcase-subtitle{
		font-size: 1.125rem;
		margin: 16px auto;
	}
	.email-form-title{
		margin: 19px 0;
	}
	.mt-n1{
		margin: 100px auto;
	}
	.showcase-title{
		font-size: 1.75rem;
	}
	.showcase-subtitle{
		font-size: 1.125rem;
	}
	.input-group>.form-control, .input-group>.form-select{
		width: 100%;
		height: 48px;
		border-radius: 0;
	}
}
@media screen and (max-width: 375px){
	.btn-secondary{
		height: 25px;
		font-size: 0.68rem;
		padding: 0  8px;
	}
	.btn-sign{
		font-size: 0.68rem;
		padding: 5px 5px;
	}
	.btn-get-started{
		height: 32px;
		font-size: 14px;
		line-height: normal;
	}
	.arrow-btn{
		height: 20px;
		width: 20px;	
	}
}
@media screen and (max-width: 320px){
	.showcase-title{
		font-size: 1.65rem;
	}

}